/* styles.module.css */

.container {
  background-color: #1d1806;
  color: #fff;
  padding: 3rem;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  box-sizing: border-box;
  opacity: 0;
  transform: translateX(-20%);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.firstContainer {
  background-color: #1d1806;
  height: 70vh;
}

.container.visible {
  opacity: 1;
  transform: translateX(0);
}

.heading {
  font-size: 1.8rem;
  margin: 10px 0;
  color: #4caf50
}

.subheading {
  font-size: 2.5rem;
  margin: 10px 0;
}

.paragraph {
  margin-bottom: 15px;
  width: 70%;
}

.button {
  background-color: #4caf50;
  color: #fff;
  padding: 12px 24px;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-top: 20px;
}

.button:hover {
  background-color: #45a049;
}

@media (max-width: 768px) {
  .container.visible {
    opacity: 1;
    transform: translateY(0 );
    height: 100%;
    
  }

  .container {
    padding: 1rem;
  }

  .firstContainer {
    height: 100%;
  }

  .paragraph {
    height: 100%;
    width: 100%;
  }
}